<%= form_with(model: tweet) do |form| %>
  <div class="field">
    <%= form.text_field :body, placeholder: "Write something..." %>
  </div>

  <div class="actions mt-1">
    <%= form.submit 'Tweet' %>
  </div>
<% end %>
