<%= form_with model: Tweet.new, url: reply_tweet_path(tweet) do |form| %>
  <div class="field mt-1">
    <%= form.text_area :body, placeholder: "Write something..." %>
  </div>

  <div class="actions mt-1">
    <%= form.submit 'Reply' %>
  </div>
<% end %>
