<section class="section center">
  <div class="container">
    <h1 class="heading center">Home</h1>
    <% if user_signed_in? %>
      <%= render 'form', tweet: Tweet.new %>
    <% end %>
    <div class="table-container">
      <% @tweets.order(:created_at).reverse_order.each do |tweet| %>
        <%= render tweet %>
      <% end %>
    </div>
  </div>
</section>