<section class="section center">
  <div class="container">
    <h1 class="heading center">Tweet Detail</h1>
    <div class="table-container">
      <%= render @tweet %>
    </div>
    <% if user_signed_in? %>
      <%= render 'reply', tweet: @tweet %>
    <% end %>
    <hr>
    <div class="table-container">
      <% @tweet.replies.order(:created_at).reverse_order.each do |tweet| %>
        <%= render tweet %>
      <% end %>
    </div>
  </div>
</section>