<footer>
  <h2 class="text-center mt-2">© 2021 - Codeable Critics</h2>
  <h4 class="text-center">Build with ♥ by</h4>
  <div class="developersContainer mt-2">
    <div class="developerSocial ">
        <a href="https://www.linkedin.com/in" target="_blank">
          <img src="https://res.cloudinary.com/dzgbz8lvg/image/upload/v1650727649/Vector_3_zmqgix.svg" alt="">
        </a>
        <p>Alex Mamani</p>
    </div>
    <div class="developerSocial ">
      <a href="https://www.linkedin.com/in" target="_blank">
        <img src="https://res.cloudinary.com/dzgbz8lvg/image/upload/v1650727649/Vector_3_zmqgix.svg" alt="">
      </a>
      <p>Diego Manrique</p>
    </div>
    <div class="developerSocial ">
      <a href="https://www.linkedin.com/in" target="_blank">
        <img src="https://res.cloudinary.com/dzgbz8lvg/image/upload/v1650727649/Vector_3_zmqgix.svg" alt="">
      </a>
      <p>Gabriel Flores</p>
    </div>
    <div class="developerSocial ">
      <a href="https://www.linkedin.com/in" target="_blank">
        <img src="https://res.cloudinary.com/dzgbz8lvg/image/upload/v1650727649/Vector_3_zmqgix.svg" alt="">
      </a>
      <p>Raul Heredia</p>
    </div>
  </div>
</footer> 